*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 10px;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}



main{
    max-width: 1400px;
    
    margin:0 auto;
    height: 100vh;
    display:grid;
    grid-template-columns: 100px 250px auto;
}
/* nav */
nav{
    background: #1d2531;
    text-align: center;
    padding: 20px 0
}

nav ul li a {
    display: block;
    padding: 10px;
}

nav .setting-btn{
    position: absolute;
    bottom: 15px;
    width: 100px;
}
nav .setting-btn a {
    display: inline-block;
    padding: 10px;
}


/* nav list */
#nav-list{
    background: #222c3c;
    position: relative;
}

#nav-list .menu h2{
    color: #5b6779;
    font-size: 0.8rem;
    display: inline-block;
}

#nav-list .menu{
    padding:25px 25px 0 25px;
  
}

#nav-list .menu a.setting {
    position: absolute;
    right: 25px;
    top: 25px;
}

#nav-list .menu ul{
    padding:15px 0;
    border-bottom: 1px solid #5b6779;
}
#nav-list .menu ul li a {
    display: block;
    padding:7px 0;
    color: #b7c0cd;
    font-size: 0.7rem;
}

#nav-list .menu ul li a:hover{
    color: #ffffff;
    font-size: 0.8rem;
    transition: font 0.5s;
}

#nav-list .overall ul li:nth-child(2)::after{
    content: "19";
    position: absolute;
    top: 90px;
    right: 25px;
    color: #FFF;
    font-weight: bold;
    background: radial-gradient(circle, #1a90eb,rgb(96, 169, 187));
    padding: 3px 6px;
    border-radius: 10px;
}

#nav-list .product ul li i{
    display: inline-block;
    width: 20px;
    color: #b7c0cd
}
#nav-list .product a.setting{
    top:245px;
}

#nav-list .product ul li a {
    display: inline-block;
    padding-left: 10px;
}

#nav-list .dashboard ul{
    border: none;
}

#nav-list .dashboard ul li a.selected{
    font-weight: bold;
    color: #eaedf0;
    font-size: 0.8rem;
}

#nav-list .dashboard ul li:nth-child(1)::after{
    content: "54";
    position: absolute;
    top: 471px;
    right: 25px;
    color: #FFF;
    font-weight: bold;
    background: radial-gradient(circle, #1a90eb,rgb(96, 169, 187));
    padding: 3px 6px;
    border-radius: 10px;
}
#nav-list .dashboard ul li:nth-child(3)::after{
    content: "!";
    position: absolute;
    top: 530px;
    right: 25px;
    color: #FFF;
    font-weight: bold;
    background: radial-gradient(circle,#eb3e20,#f57a64 );
    padding: 3px 8px;
    border-radius: 10px;
}


#nav-list .goal{
    position: absolute;
    left: 25px;
    bottom: 25px;
}
#nav-list .goal h3{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-bottom: 8px;
}

/* message area */
.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 80px 70px auto;
}

.header{
    grid-column: 1/3;
    position: relative;
    padding: 0 20px;
    border-bottom: 1px solid #e6e9ec;
    
}
.header h1{
    float: left;
    line-height: 80px;
    font-weight: normal;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header .user{
    float: right;
   
}

.header a.profile-photo ,.header .profile{
    display: inline-block;
}
.header .user a.profile-photo{
 
    position: absolute;
    top: 15px;
    right: 150px;
}

.header .user .profile{
    
    position: absolute;
    top: 25px;
    right: 40px;
}

.header .user .profile h2{
    color: #2399f1;
    font-weight: 700;

}
.header .user .profile h3{
    color: #c4c4c4;
    font-size: 0.8rem;
    font-weight: normal;
}

.header .user .profile .setArrow {
    
    display: inline-block;
    position: absolute;
    width: 20px;
    right: -25px;
    top: 18px;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #c4c4c4 transparent transparent transparent;
 
}

.header .user .profile .setArrow:hover{
    transform: rotate(180deg);
    transform-origin: 50% 20% 0; 
    transition: transform 1s;
} 

.header .user .profile::before{
    content: "";
    display: inline-block;
    position: absolute;
    right: -25px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 1;
    
}

/* search box */
.search{
    box-sizing: border-box;
    grid-row: 2/3;
    grid-column: 1/2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e6e9ec;
    border-bottom: 1px solid #e6e9ec;

}

.search-box{

    padding: 5px 0 5px 10px;
    width: 90%;
    border: 1px solid #e6e9ec;
    border-radius: 5px;
}

.search .search-box input{
    padding: 5px 0;
    width: 90%;
    border: none;
}

.search .search-box a i{
    color:#c4c4c4;
    font-size: 1rem;
}


.chat{
    grid-column: 1/2;
    grid-row: 3/4;
    border-right:  1px solid #e6e9ec;
    overflow: scroll;
    overflow-x: hidden;
}
/* 隐藏滚动条  ie不兼容 */
.chat::-webkit-scrollbar{
    width:0px;
    opacity:0;
    -webkit-overflow-scrolling: touch;
} 

 .chat .current{
    border-left: 5px solid #2399f1;
} 

.chat .chat-box{
    border-bottom:  1px solid #e6e9ec;
    box-sizing: border-box;
    height: 130px;
    padding: 25px;
    position: relative;
 
}
.chat .chat-box img, .chat .chat-box .contact-info{
    display:inline-block;
}

.chat .chat-box img{
    width: 48px;
}
.chat .chat-box .contact-info{
    position: absolute;
    top: 30px;
    padding-left: 15px;
  
}

.chat .chat-box .contact-info::after{
    content: "3m";
    color: #90939a;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 270px;
}

.chat .chat-box .contact-info h4{
    color: #585d68;
    font-size: 0.8rem;
}

.chat .chat-box .contact-info h5{
    color: #c5c9ce;
    padding: 5px 0;
  
}

.chat .current .contact-info h4{
   
    color: #5eb4f5;
}

.chat .current .contact-info h4::before{
    content: "";
    display:inline-block;
    margin-right: 7px;
    width: 9px;
    height: 9px;
    border-radius: 0.5em;
    background: radial-gradient(circle,#5eb4f5,rgb(58, 153, 231));
}

.chat .chat-box .chat-text{
    height: 30px;
    /* 只显示两行 多了显示省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    color: #90939a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
}


/* console */

.console{
    grid-column: 2/3;
    grid-row: 2/3;
    box-sizing: border-box;
    border-top: 1px solid #e6e9ec;
    border-bottom: 1px solid #e6e9ec;
    position: relative;
    padding: 0 20px;
}

.console h2{
    float: left;
    line-height: 70px;
    
    color: #585d68;
}

.console h2::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #1bb934;
    border-radius: 0.5em;
    margin-left: 8px;

}
.console ul{
    display: inline-block;
    position: absolute;
    top: 19px;
}
.console .console-nav{
    width: 130px;
    border-right: 1px solid #ced0da;
    right: 135px;
}

.console .page{
    right: 15px;
    top: 21px;
}
.console span{
    position: absolute;
    right: 80px;
    top: 25px;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #56688a;
}

.console ul li{
    display: inline-block;
    background: #f9fafc;
    border:1px solid #ced0da;
}
.console ul li:hover{
    background: #eaedf0;
    transition: background 0.5s;
}

.console ul li:nth-child(1){
    border-right: none;
    border-radius: 7px 0 0 7px;
}
.console ul li:nth-child(3){
    border-left: none;
    border-radius: 0 7px 7px 0;
}

.console ul li a {
    display: block;
    font-size: 1rem;
    padding: 4px 10px;
    color: #9fa9ba;
}

.console ul li.forward{
    border-radius: 0 7px 7px 0;
}

.console ul li.forward a .right-arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #9fa9ba;
    border-width: 5px;
}
.console ul li.backward a .left-arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #9fa9ba transparent transparent ;
    border-width: 5px;
}

.console ul li.backward a{
    padding: 7px 12px 7px 5px;
}

.console ul li.forward a {
    padding: 7px 5px 7px 12px;
}
