@import url(http://fonts.font.im/css?family=Oxygen&subset=latin,latin-ext);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* showcase */
#showcase{
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    background-image:url(../images/bg1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#showcase .welcome {
    box-sizing: border-box;
     max-width: 900px;
     padding:  50px 150px 50px 150px;
}

#showcase .welcome h1{
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

#showcase .welcome h1:hover{
    font-size: 60px;
    transition: font 2.5s;
}

#showcase .welcome p{
    
    color: #a5a198;
    font-size: 1rem;

}

#showcase .signup{
    border: 1px solid #555250;
    padding: 50px;
    font-family:'Oxygen' , sans-serif;
}

#showcase .signup h2{
    color: #fff;
    font-weight: normal;
    padding-bottom: 20px;
}

#showcase .signup h4{
    color: #a5a198;
    font-weight: normal;
    padding-bottom: 20px;
}

#showcase .signup form input{
    display: inline-block;
    width:280px;
    background: transparent;
    border: 1px solid #555250;
    padding:10px 20px;
    margin-right: 20px;
}

#showcase .signup form a.button{
    display:inline-block;
    height: 38px;
    padding: 0px 25px;
    box-sizing: border-box;
    border: 1px solid #555250;
    border-radius:3px;
    line-height: 38px;
    background: #fff;
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#showcase .signup form a.button:hover{
    background: transparent;
    color: #fff;
    transition: background 0.5s;
}

/* banner */
#banner{
    max-width: 900px;
    padding: 70px 0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}

#banner h5{
    font-size: 1rem;
   
}

#banner h2{
    padding: 50px 100px 100px 50px;
    font-size: 2.5rem;
    font-weight: normal;
    
}

#banner .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    justify-content: center;
    
}

#banner .features .feature-box .icon,#banner .features .feature-box .icon-text{
    display: inline-block;

}

#banner .features .feature-box .icon-text{
    width: 80%;
}

#banner .features .feature-box .icon-text h4{
    padding-bottom: 10px;
}

#banner .features .feature-box .icon-text p{
    font-weight: lighter;
}

#banner .features .feature-box{
    padding: 20px 0px;
}
#banner .features .feature-box .icon{
    margin-right: 10px;
}


/* section-a */
.section-a{
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    background: url(../images/bg2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    overflow: hidden;

}

.section-a .left{
    flex-basis:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 50px 80px 50px;
}

.section-a .left a {
    display: inline-block;
    width: 220px;
    background:transparent;
    border: 1px solid rgba(160, 160, 160, 0.671);
    color: rgba(177, 177, 177, 0.815);
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: 0.1em;
    margin-right: 10px;
}


.section-a .left a:hover{
    background: rgba(255, 255, 255, 0.863);
    color: #000;
    transition: background 0.8s;
}

.section-a .left p{
    display: block;
    color: rgba(184, 184, 184, 0.658);
}
.section-a .left p:hover{
    color: rgba(226, 225, 225, 0.973);
    transition: color 1s;
}

.section-a .left h2{
    font-size: 2.4rem;
    color: rgba(221, 221, 221, 0.808);
}

.section-a .left h2:hover{
    font-size: 2.7rem;
    color:rgba(221, 221, 221, 0.959);
    transition: color 0.8s;
    transition: font 1.3s; 
}

.section-a .right{
    margin-right: -80%;
    padding: 80px 0;
}

/* products */
.product{
    border-bottom: 1px solid #555250;
}

.product .inner{
    max-width: 900px;
    
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
}

.product h1{
    font-size: 2.5rem;
    font-weight: normal;
}

.product .wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.product .wrapper .box{
    flex:0 0 30%;
    text-align: center;
}

.product .wrapper .box h2{
    padding-bottom: 10px;
}

.product .wrapper .box p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

/* section-b */

.section-b{
    border-bottom: 1px solid #555250;
}

.section-b .inner img{
    width: 100%;
    
}
 .section-b .inner .img-1{
    height: 100%;
     background: url(../images/tuceng3.png);
     background-size: cover;
     background-position: center;
    grid-area: a;
}
.section-b .inner .img-2{
    height: 100%;
    background: url(../images/tuceng4.png);
    background-size: cover;
    background-position: center;
    grid-area: b;
}
.section-b .inner .img1-text{
    grid-area: t1;
}

.section-b .inner .img2-text{
    grid-area: t2;
} 

.section-b .inner .img1-text p,.section-b .inner .img2-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    color: #5a5a5a;
    padding: 20px 10px;
}

.section-b .inner .img1-text h2,.section-b .inner .img2-text h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.0;
    padding: 0 10px;
}

.section-b .inner{
    max-width: 900px;
    margin:0 auto;
    padding: 60px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
    grid-gap: 5vw;
    grid-template-areas:   "a a t1"
                            't2 b b';
    align-items: center;
    align-content: center;
    
}

/* Crew info */

.crew{
    border-bottom: 1px solid #555250;
}

.inner{
    max-width: 900px;
    margin:0 auto;
    padding: 60px 0;
}

.crew h2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.05em;


}

.crew p{
    padding: 50px 150px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.crew-member{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 25px;
    grid-auto-rows: 280px;
}

.crew-member .member{
    position: relative;
    background-size: cover;
}
.crew-member .member1{
    background-image: url(../images/user1.png)
}
.crew-member .member2{
    background-image: url(../images/user2.png)
}
.crew-member .member3{
    background-image: url(../images/user3.png)
}
.crew-member .member4{
    background-image: url(../images/user1.png)
}



.crew-member .member .member-info{
    display: none;
}

.crew-member .member img{
    height: 280px;
}

.crew-member .member:hover .member-info{
    width: 100%;
    height: 100%;
    background: #4e4e4ea2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crew-member .member:hover .member-info h4{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.5rem;
}
.crew-member .member:hover .member-info h5{
    color: #acaaa9d5;
    font-weight: normal;
    padding: 15px 0;
}

.crew-member .member:hover .member-info ul li{
    display: inline-block;
}

.crew-member .member:hover .member-info ul li a {
    display: block;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0.7rem;
    margin-right: 15px;
    border: #bbbabadc 2px solid;
    border-radius: 15em;
}

.crew-member .member:hover .member-info ul li a:hover{
    font-size: 2rem;
    transition: font 1.5s;
}
/* section-c */

.section-c .inner{
    max-width: 900px;
    margin:0 auto;
    padding:60px;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.section-c .inner .feedback{
    border: 1px solid #807f7f7e;
    border-radius: 10px;
    text-align: center;
    padding: 35px 10px;
}

.section-c .inner .feedback h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: -0.04em;
    font-weight: normal;
}

.section-c .inner .feedback p{
    margin: 25px 0;
}
.section-c .inner .feedback a {
    display: block;
    width: 78%;
    background: #000;
    color: #fff;
    margin:0 auto;
    padding: 15px 0;
    letter-spacing: 0.1em;
}

.section-c .inner .feedback a:hover{
    background: #fff;
    color: rgba(19, 18, 18, 0.87);
    border: 1px solid #000;
    transition:  background 1s;
}

.section-c .inner .feedback input,.section-c .inner .feedback textarea{
    padding: 10px;
    width: 70%;
}

.section-c .inner .contact-info{
    padding: 0 20px;
}

.section-c .inner .contact-info h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: 0.03em;

}
.section-c .inner .contact-info .contact-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    line-height: 1.5;
    margin:30px 0;
}

.section-c .inner .contact-info p{
    margin:15px 0;
}

.section-c .inner .contact-info p i{
    display: inline-block;
    font-size:1.8rem;
    padding: 5px;
}
.section-c .inner .contact-info p span{
    display: inline-block;
    font-size: 1.2rem;
}


/* footer */
footer{
    background: #020202;
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 2vw;
    justify-content: center;
    justify-items: center;
}

footer div{
    padding: 80px 0 50px 0;
}

footer div h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 0.05em;
}

footer ul li a {
    display: block;
    padding: 15px 10px 15px 0;
    color: #5a5a5a;
    font-size: 1.1rem;
    letter-spacing: -0.05em;
}

footer .box4 p{
    color: #5a5a5a;
    padding: 20px 0;
}

footer .box4 ul li{
    display: inline-block;
}
footer .box4 ul li a:hover{
    color: #a5a198;
    font-size: 1.5rem;
    transition: font 1.5s;
    
}


@media(max-width: 950px){

        /* header */
#showcase .welcome{
    padding:  5vw 5vw 10vw 5vw;
}        

#showcase .welcome h1{
    font-size: 10vw;
    padding-bottom: 10vw;
}

#showcase .signup{
    border: none;
    border-top: 1px solid #555250;
    padding: 50px 1vw;
}

#showcase .signup form input{
    width: 70vw;
    margin: 3vw auto;
}

#showcase .signup form a.button{
    display: block;
    width: 25vw;
    padding: 0px 2vw;
    margin: 2vw auto 0 auto;
}

/* banner */
#banner{
    padding: 0 1vw;
    height: 100vh;
}

#banner h2{
    font-size: 6vw;
    padding: 10vw 5vw;
}

#banner .features {
    text-align: center;
}

#banner .features .feature-box{
    padding: 0;
}

#banner .features .feature-box .icon{
    padding: 3vw;
}


/* section-a */
.section-a .left h2{
    line-height: 0.9;
    font-size:7vw;
}

.section-a .left p{
    font-size: 1rem;
}

.section-a .left a {
    width: 55vw;
    font-size: 3vw;
}

/* product*/


.product .inner{
    padding: 10vw 5vw;
}

.product .inner h1{
    font-size: 7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 3px 1px 5px #5a5a5a;
}


.product .wrapper{
    flex-direction: column;
    padding-top: 5vw;
}

.product .wrapper .box{
    padding-bottom: 5vw;
}
.product .wrapper .box p{
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* section-b  */

.section-b .inner{
    padding:10vw 0;
}

.section-b .inner .img1-text, .section-b .inner .img2-text{
   grid-column: 1/4;
   z-index: 1;
}
.section-b .inner .img-1,.section-b .inner .img-2{
    grid-column: 1/4;
}

.section-b .inner .img1-text h2, .section-b .inner .img2-text h2{
    color: #ffffffd0;
    font-size: 5vw;
    font-weight: bold;
    padding: 0 8vw;
}
.section-b .inner .img1-text p, .section-b .inner .img2-text p{
    color: #c5c1c1cb;
    padding: 5vw 8vw;
}

/* Crew */

.crew .inner{
    padding: 10vw 2vw;
}

.crew h2{
    font-size: 8vw;
    padding: 1vw 2vw;
}
.crew p{
    padding: 5vw 3vw;

}
.crew .inner .crew-member {
    grid-auto-rows: 60vw;
    grid-gap: 3vw;
    justify-content: space-around;
    
}
.crew .inner .crew-member .member{
    grid-column: 1/3;
    width: 100%;
}

/* section-c */
.section-c .inner{
    padding: 10vw 2vw;
}

.section-c .inner .feedback{
    grid-column: 1/3;
    border: none;
    padding-top: 0;
}

.section-c .inner .contact-info{
    grid-column: 1/3;
    border-top: 1px solid #555250;
    padding-top: 10vw;

}
.section-c .inner .contact-info p span{
    font-size: 4vw;

}

/* footer */
footer{
    grid-template-columns: 40% 40%;
    padding: 10vw 2vw;
    height: 100vh;
    box-sizing: border-box;
    justify-items: left;
    justify-content: space-evenly;
    
}

footer .box{
    padding: 0;
}

footer .box h4{

}

footer .box ul li a {
    padding:2vw 0;
}

footer .box4 p{
    padding: 2vw 0;
    width: 80%;

}

footer .box4 ul li a {
    padding-right: 1vw;
}
}

