@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto' sans-serif;
    background: url(../images/mountain.jpg) center center fixed;
    background-size: cover;
}

.main {
    margin: 0 auto;
    margin-top: 180px;
    padding: 0;
    background: #3b4652;
    opacity: 0.85;
    border-radius: 5px;
    padding: 0 20px;
    
}



.avatar img{
    margin-top: -50px;
}
.avatar {
    margin-bottom: 40px;
}

input {
    border: 0;
    width: 80%;
}
.form-group{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 30px;
    background: #fff;
    border:2px #3b4652 solid;
    border-radius: 5px;
}
.form-group i{
    margin-right: 10px;
}


.forgot {
    padding:20px 0;
}
.forgot a{
    color: #0ba9b4;
    font-size: 1.2rem;
}

@media(min-width:650px){
    .container {
        width: 540px;
    }

}