

.container {
  width: 560px;
  padding: 0;
  box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 1;
}

.row {
  margin: 0;
  padding: 10px;
}
.row:hover {
  border: 2px solid rgb(241, 37, 37);
}

#showcase {
  padding-top: 406px;
  border-left: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(196, 196, 196);
  font-size: 0.8rem;
}

#showcase p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
